.navbar {
    background: #3C64B1;
    width: 100vw;
    height: 1vh;
    padding: 1.5%;
}

#homeButton {
    background-color: rgba(0, 0, 0, 0);

    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1.2vw;
    line-height: 2vh;
    border: none;
    float: left;
    /* identical to box height, or 45% */
    text-align: center;
    letter-spacing: 0.3px;
}

#name {
    background-color: rgba(0, 0, 0, 0);

    font-family: Montserrat, sans-serif;
    color: white;
    font-style: normal;
    font-weight: bold;
    font-size: 1.2vw;
    line-height: 2vh;
    border: none;
    float: right;
    margin-right: 10vh;
    /* identical to box height, or 45% */
    text-align: center;
    letter-spacing: 0.3px;
}

#section_label {
    font-family: Montserrat, sans-serif;
    color: black;
    font-weight: bold;
    font-size: 2vw;
    float: left;
    margin-left: 5vw;
}

#new_class_button {
    border: 1vw;
    background-color: #F6F5F4;
    height: 9vw;
    width: 15vw;
    border-style: solid;
    border-color: black;
    border-width: 0.1vh;
    font-size: 1.8vw;
    text-align: center;
    float: left;
    margin-top: 5vh;
}

#class_button {
    border: 1vw;
    background-color: lightgray;
    height: 9vw;
    width: 15vw;
    border-style: solid;
    border-color: black;
    border-width: 0.1vh;
    font-size: 1.8vw;
    text-align: center;
    float: left;
    margin-top: 5vh;
}

.black {
    color: #333131
}

#classes {
    margin-left: 10vh;
}


